.container {
    height: 100%;
    width: 100%;
}

.title {
    background-color: red;
    h1 {
        text-align: center;
    }
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}