.container {
    height: 100%;
    width: 100%;
}

/* h1 -> &h1 으로 수정 (nested css) */
.title {
    background-color: red;
    &h1 {
        text-align: center;
    }
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}